@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background:#633654;
    
}
canvas{
    display: block;
    /* make sure W&H is properly calc. (no scrll bars wil/fit screen) */
    background:#633654;
    filter: blur(10px) contrast(20px);
    /* creates a liquid behavior for the metaballs */
    
    z-index: 1;
    position: absolute;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: transparent;
    width: 100%;
    height: 70px;
    z-index: 4 ;
}
.nav{
    display:flex;
    justify-content: right;
    list-style: none;
    z-index: 4;
    margin-right: 15%;
}
.logo{
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin:15px;
    color:white;
    text-transform: uppercase;
    z-index: 3;

}
a:hover{
    color: #739487;
}
.banner-area{
    position:relative;
    width: 100%;
    height: 100vh;
    z-index: 3;
     
}

.info{
    z-index: 3;
    position: absolute;
    display:block;
    top: 70%;
    left:42.5%;
    text-align: center;
    
}

li{
    list-style: none;
}







.prof-border-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height:auto;
    z-index: 2;
    position:absolute;
    top: 25%;
    left:43%;
    box-shadow: 5px 5px 5px #633654;
  }

  .prof-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height:auto;
    z-index: 3;
    position:absolute;
    top: 29%;
    left:45.5%;
    box-shadow: 5px 5px 5px #633654;
  }





