*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#633654;
}
canvas{
    display: block;
    /* make sure W&H is properly calc. (no scrll bars wil/fit screen) */
    
    background:#633654;
    filter: blur(10px) contrast(20px);
    /* creates a liquid behavior for the metaballs */
    
}